//<VARIABLES GLOBAL>===========================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$container-padding: 15px;
$gutter: 30px;

//<Fonts Default Variables>====================================================================
$fontFamily: "Raleway-Regular", sans-serif;

//<End Fonts Default Variables>================================================================

//<Color Scheme Variables>
$primary-bg-color: #222c35;
$secondary-bg-color: #1b232a;
$mako-bg-color: #3e454b;
$bunker-bg-color: #161c22;
$accent-color: #f9a34f;
$primary-text-color: #999999;
$secondary-text-color: #51565a;
$white: #ffffff;
$black: #000000;

//<END VARIABLES GLOBAL>=======================================================================

//<MIXINS>=====================================================================================

@import "mixins";

//<END MIXINS>=================================================================================

//<FONTS>======================================================================================

//&display=swap&subset=cyrillic-ext
@import "fonts";

//<Icon Fonts>=================================================================================

//@import "icons";

//<End Icon Fonts>=============================================================================

//<END FONTS>==================================================================================

//<RESET>======================================================================================
@import "null";
@import "normalize";

body {
	color: $primary-text-color;
	font-size: 16px;
	font-feature-settings: "pnum" on, "lnum" on;
	&._lock {
		overflow: hidden;
	}
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
//<END RESET>==================================================================================

//<MAIN PAGE BLOCKS>===========================================================================

// Wrapper
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

// Grid system
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}

//<END MAIN PAGE BLOCKS>=======================================================================

//<INCLUDE FILE STYLE UI, PAGES & ELEMENTS, FORM & CLASSES and more...>========================

// Forms
@import "forms";

// UI
@import "ui";

// Elements
//@import "datepicker";
//@import "pagging";
@import "lightgallery";
@import "popup";

// Pages
@import "home";

// Section
@import "header";
@import "footer";

//<END INCLUDE>================================================================================

//<MAIN PAGE BLOCKS>===========================================================================
.page {
	flex: 1 1 auto;
}

.h1-title {
	font-family: "Raleway-ExtraLight", sans-serif;
	font-size: 36px;
	line-height: 140%;
	color: $white;
	font-feature-settings: "pnum" on, "lnum" on;
}

.h2-title {
	font-family: "Raleway-ExtraLight", sans-serif;
	color: $white;
	text-align: center;
	font-feature-settings: "pnum" on, "lnum" on;

	@include adaptiv-font(50, 36, 1);
	@include adaptiv-value("line-height", 70, 40, 0);

	@media (min-width: 1920px) {
		@include adaptiv-value("line-height", 70, 40, 1);
	}

	span {
		color: $accent-color;
	}
}

.h3-title {
	font-family: "Raleway-ExtraLight", sans-serif;
	font-size: 30px;
	line-height: 100%;
	color: $white;
	font-feature-settings: "pnum" on, "lnum" on;
}

.h4-title {
	font-family: "Raleway-ExtraLight", sans-serif;
	font-size: 20px;
	line-height: 115%;
	color: $white;
	font-feature-settings: "pnum" on, "lnum" on;
}

.h5-title {
	font-family: $fontFamily;
	font-size: 20px;
	line-height: 140%;
	color: $white;
	font-feature-settings: "pnum" on, "lnum" on;
}

.p-text {
	font-family: $fontFamily;
	font-size: 16px;
	line-height: 150%;
	margin-bottom: 15px;
	color: $primary-text-color;
	font-feature-settings: "pnum" on, "lnum" on;

	&:last-child {
		margin-bottom: 0;
	}
}

.placeholder {
	font-family: "Raleway-MediumItalic", sans-serif;
	font-size: 14px;
	line-height: 125%;
	letter-spacing: 2px;
	font-feature-settings: "pnum" on, "lnum" on;
}

.menu-text {
	font-family: "Raleway-Bold", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	line-height: 160%;
	font-feature-settings: "pnum" on, "lnum" on;
}

.subtitle {
	font-family: "Raleway-Light", sans-serif;
	font-size: 20px;
	line-height: 30 * 100% / 20;
	font-feature-settings: "pnum" on, "lnum" on;
	color: $primary-text-color;
	text-align: center;

	span {
		color: $accent-color;
	}
}

.tab-text {
	font-family: "Raleway-Bold", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 10%;
	color: $primary-text-color;
	font-feature-settings: "pnum" on, "lnum" on;

	span {
		color: $accent-color;

		@media (max-width: 426px) {
			display: block;
		}
	}
}

.ol-list {
	list-style-type: none;
	counter-reset: num;
	margin: 0 0 0 20px;

	li {
		position: relative;
		padding: 0 0 15px 0;
	}
	li:before {
		content: counter(num) ".";
		counter-increment: num;
		display: inline-block;
		position: absolute;
		top: 0px;
		left: -26px;
		width: 20px;
		color: $accent-color;
		text-align: right;
	}
}

//<END MAIN PAGE BLOCKS>=======================================================================

// Reset Button
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}
