.advantages {
  background-color: $primary-bg-color;
}

.advantages__h2-title {
  text-align: center;
  span {
    color: $accent-color;
  }
}

.subtitle {
  text-align: center;
  max-width: 470px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.advantages__row {
  &:not(:last-child) {
    padding-bottom: 30px;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  @media (max-width: 1025px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.advantages__column {
}

.advantages__item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
}

.advantages__icon {
  margin-bottom: 15px;
}

.advantages__title {
  margin-bottom: 17px;
  text-align: center;
}

.advantages__text {
  text-align: center;
}
