.gallery {
	background-color: $secondary-bg-color;
}

.page__gallery {
	padding-top: 100px;
}

.gallery__h2-title {
	margin-bottom: 15px;
}

p.gallery__subtitle {
	@include adaptiv-value("max-width", 570, 300, 1);
	margin: 0 auto 100px;
}

.gallery__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;

	@media (max-width: 959px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	@media (max-width: 375px) {
		grid-template-columns: 1fr;
	}
}

.gallery__item {
	position: relative;
}

.gallery__photo {
	padding: 0 0 100% 0;
	position: relative;
	overflow: hidden;
}

.gallery__link {
	img {
		transition: all 0.5s ease-in-out;
		transform: scale(1.1);
	}

	&::before {
		@extend %overlay;
		@extend %lupe-icon;
	}

	&:hover::before {
		opacity: 1;
		cursor: pointer;
		visibility: visible;
		transform: scale(1);
	}
	&:hover img {
		transform: scale(1);
	}
}
