.gallery {
  background-color: $secondary-bg-color;
}

.gallery__h2-title {
  text-align: center;
  span {
    color: $accent-color;
  }
}

.subtitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 105px;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}
