.menu {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparentize($bunker-bg-color, 0.5);
	z-index: 10;
	box-shadow: 0 3px 0px $accent-color;

	&__body {
		position: relative;
		&:before {
			content: "";
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: $bunker-bg-color;
			top: 0;
			left: -100%;
			z-index: -1;
			overflow: auto;
		}
	}

	&__body._active::before {
		left: 0;
		transition: left 0.3s ease 0s;
	}

	// line color accent
	&__body._active::after {
		content: "";
		position: absolute;
		top: 77px;
		left: 0;
		width: 100%;
		height: 3px;
		box-shadow: 0 3px 0 $accent-color;
		z-index: 10;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr 100px 1fr;
		grid-template-rows: 80px;
		align-items: center;
		justify-items: center;
		position: relative;
		grid-column-gap: 30px;
		height: 80px;
	}

	&__nav:first-child {
		justify-self: end;
	}

	&__nav:nth-of-type(2) {
		justify-self: start;
	}

	&__list {
		display: flex;
	}

	&__item:not(:last-child) {
		@media (min-width: 1110px) {
			margin-right: 20px;
		}
	}

	&__link {
		font-family: "Raleway-Medium", sans-serif;
		font-style: normal;
		font-size: 14px;
		line-height: 114%;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: white;
		font-feature-settings: "pnum" on, "lnum" on;

		@media (min-width: 1110px) {
			&:hover {
				transition: all ease 0.3s;
				color: $accent-color;
			}
		}
	}

	&__contact {
		position: absolute;
		right: 0;
		height: 100%;
		grid-row: 1 / 2;
	}
}

// mobile menu grid
@media (max-width: 1110px) {
	.menu {
		&__body._active .menu__nav {
			left: 0;
		}

		&__nav {
			position: relative;
			left: -100%;
			width: 100%;
			transition: left 0.3s ease 0s;
			z-index: 1;

			&:first-child {
				grid-row: 2 / 3;
				grid-column: 1 / -1;
				align-self: end;
				padding-top: 30px;
			}

			&:nth-of-type(2) {
				grid-row: 3 / 4;
				grid-column: 1 / -1;
				justify-self: center;
				align-self: start;
			}
		}

		&__list {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__item {
			padding: 10px 0 10px 0;
		}
	}
}

// contact block
.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $accent-color;

	@media (max-width: 530px) {
		display: none;
	}

	&__list {
		padding: 0 15px 0 15px;
		font-style: italic;
	}

	&__item {
		line-height: 150%;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__link {
		color: $bunker-bg-color;
		font-family: "Raleway-Medium", sans-serif;
		transition: color ease 0.3s;

		&:hover {
			color: $white;
		}
	}
}

.phone-item {
	display: flex;
	align-items: center;

	&::before {
		content: "";
		display: inline-block;
		background: url(../img/icons/phone.svg) no-repeat;
		width: 24px;
		height: 24px;
		margin-right: 4px;
	}
}

.call-item {
	display: flex;
	align-items: center;

	&::before {
		content: "";
		display: inline-block;
		background: url(../img/icons/face-agent.svg) no-repeat;
		width: 24px;
		height: 24px;
		margin-right: 8px;
	}
}

//<!-------------Burger------------->
@media (max-width: 1110px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		grid-row: 1;
		justify-self: start;
	}

	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		right: 0;
		position: absolute;
		height: 2px;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: white;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
}
