.page__objects-metro {
	padding-top: 100px;
	padding-bottom: 60px;
}

.objects-metro {
	position: relative;

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		@extend %pattern-bg;
	}

	&__h2-title {
		position: relative;
		margin-bottom: 15px;
		z-index: 2;
	}

	&__subtitle {
		max-width: 500px;
		margin: 0 auto;
		margin-bottom: 55px;
		position: relative;
		z-index: 2;
	}
}

.portfolio-container {
	position: relative;
	display: flex;
}

.portfolio-slider {
	&__image {
		padding: 0 0 100% 0;
	}

	&__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: calc(100% - 40px);
		background-color: $secondary-bg-color;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
		transform: translateY(-50%);
		padding: 20px;
		z-index: 2;
		margin: 0 auto;

		p:first-child {
			font-family: "Raleway-Light", sans-serif;
			font-size: 15px;
			margin-bottom: 0;
			color: $white;
		}

		p + p {
			font-family: $fontFamily;
			color: $accent-color;
			text-transform: uppercase;
			letter-spacing: 0.09em;
			font-size: 14px;
			text-align: center;
		}
	}

	// arrows swiper
	&__buttons {
		display: flex;
		align-items: center;
	}

	&__button-prev {
		position: absolute;
		background: url(../img/icons/p-left.svg) right / 50% no-repeat;
		width: 30px;
		height: 30px;
		left: -5%;

		@media (max-width: 1300px) {
			left: 50%;
			bottom: -3%;
			transform: translateX(-50px);
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__button-next {
		position: absolute;
		background: url(../img/icons/p-left.svg) right / 50% no-repeat;
		width: 30px;
		height: 30px;
		right: -5%;
		transform: rotate(180deg);

		@media (max-width: 1300px) {
			right: 50%;
			bottom: -3%;
			transform: translateX(50px) rotate(180deg);
		}

		&:hover {
			cursor: pointer;
		}
	}

	// bullet swiper
	&__pagging {
		position: absolute;
		z-index: 10;
		display: flex;
		justify-content: center;
		bottom: 0;
		width: 100%;

		.swiper-pagination-bullet {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: rgb(0, 0, 0);
			opacity: 0.2;

			&:not(:last-child) {
				margin-right: 10px;
			}

			&-active {
				background-color: $accent-color;
				opacity: 1;
			}
		}
	}
}
